:root {
    --theme-color-1: #282828;
    --theme-color-2: #e8e8f2;
    --theme-color-3: #5c6582;
    --theme-color-4: #8d8b9d;
    --theme-color-5: #b4d3ff;
    
    --theme-standard-padding: 15px;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: var(--theme-standard-padding);
    background-color: var(--theme-color-3);
    color: #ffffff;
    font-size: 1.3em;
    transition-duration: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-section {
    height: fit-content;
}

.lang-button {
    display: inline;
    cursor: pointer;
}

.lang-button.selected {
    color: var(--theme-color-5);
}

.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 1em;
}

.navbar-list li {
    display: inline;
    cursor: pointer;
}

.navbar-list li a {
    text-decoration: inherit;
}

.main {
    box-sizing: border-box;
    flex: 1;
    padding: 40px;
    background-color: var(--theme-color-2);

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer {
    box-sizing: border-box;
    min-height: 60px;
    padding: var(--theme-standard-padding);
    background-color: var(--theme-color-1);
    color: #ffffff;
    text-align: center;
}