:root {
    --theme-color-1: #282828;
    --theme-color-2: #ced2e0;
    --theme-color-3: #5c6582;
    --theme-color-4: #f5f5f9;
    --theme-color-5: #b4d3ff;
    --theme-color-6: #e2e5ee;
    --theme-color-7: #787e93;
    --theme-color-8: #5e6273;
    
    --theme-navfooter-padding: 15px;
    --theme-main-padding: 50px;
    --theme-side-padding: 10%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

*::selection {
    background-color: var(--theme-color-5);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

.navbar {
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: var(--theme-navfooter-padding) var(--theme-side-padding);
    background-color: var(--theme-color-2);
    color: var(--theme-color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
}

.navbar-section {
    height: fit-content;
}

.lang-button {
    display: inline;
    cursor: pointer;
}

.lang-button.selected {
    color: var(--theme-color-1);
}

.nav-link.selected {
    color: var(--theme-color-1);
    border-bottom: 2px solid var(--theme-color-1);
}

.navbar-nav {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 1.2rem;
}

.nav-link {
    display: inline;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: var(--theme-main-padding) var(--theme-side-padding);
    background-color: var(--theme-color-4);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer {
    padding: var(--theme-navfooter-padding);
    background-color: var(--theme-color-2);
    color: var(--theme-color-3);
    text-align: center;
}

@media (max-width: 1199px) {
    :root {
        --theme-main-padding: 1rem;
        --theme-side-padding: 2rem;
    }
}

@media (max-width: 767px) {
    .navbar {
        font-size: 1rem;
    }
}