:root {
    --theme-color-1: #282828;
    --theme-color-2: #bfc3d2;
    --theme-color-3: #5c6582;
    --theme-color-4: #8d8b9d;
    --theme-color-5: #b4d3ff;
    
    --theme-navfooter-padding: 15px;
    --theme-side-padding: 10%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

.navbar {
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: var(--theme-navfooter-padding) var(--theme-side-padding);
    background-color: var(--theme-color-2);
    color: var(--theme-color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3em;
}

.navbar-section {
    height: fit-content;
}

.lang-button {
    display: inline;
    cursor: pointer;
}

.lang-button.selected {
    color: var(--theme-color-1);
}

.nav-link.selected {
    color: var(--theme-color-1);
    border-bottom: 2px solid var(--theme-color-1);
}

.navbar-nav {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 1em;
}

.nav-link {
    display: inline;
    cursor: pointer;
}

.nav-link > a {
    text-decoration: inherit;
}

.main {
    flex: 1;
    padding: 50px var(--theme-side-padding);
    background-color: #f5f5f9;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer {
    padding: var(--theme-navfooter-padding);
    background-color: var(--theme-color-2);
    color: var(--theme-color-3);
    text-align: center;
}

@media (max-width: 1023px) {
    :root {
        --theme-side-padding: 5%;
    }
}

@media (max-width: 767px) {
    .navbar {
        font-size: 1em;
    }
}