.front-text-wrapper {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.front-name {
    font-size: 3rem;
    color: var(--theme-color-1);;
}

.front-status {
    font-size: 1.7rem;
    color:var(--theme-color-3);
}

@media (max-width: 767px) {
    .front-name {
        font-size: 2.2rem;
    }

    .front-status {
        font-size: 1.2rem;
    }
}