.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    aspect-ratio: auto 16/9;
    background-color: #CCCCCC;
    cursor: pointer;
}

.card:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}

@media (max-width: 1023px) {
    .card-wrapper { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .card-wrapper { 
        grid-template-columns: repeat(1, 1fr);
    }
}