.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    aspect-ratio: 9/10;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 3px #d4d4d4;
}

.card:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.card-img-container {
    aspect-ratio: 9/5;
    max-width: 100%;
}

.card-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    height: 50%;
    padding: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card-info-title {
    font-size: 1.1rem;
    color: var(--theme-color-1);
}

.card-info-desc {
    text-align: justify;
    color: var(--theme-color-3);
}

.card-info-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-info-stack > * {
    padding: 4px 6px;
    border-radius: 4px;
    background-color: var(--theme-color-6);
    color: var(--theme-color-3);
    font-size: 0.9rem;
}

.github-url {
    background-color: var(--theme-color-7);
    border: 1px solid var(--theme-color-3);
    border-radius: 3px;
    color: var(--theme-color-3);
    min-height: 15%;
    min-width: 30%;
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.github-url:hover {
    background-color: var(--theme-color-6);
    cursor: pointer;
}

.github-icon {
    max-height: 0.75em;
}



@media (max-width: 1023px) {
    .card-wrapper { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .card-wrapper { 
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info-title {
        font-size: 0.9rem;
    }

    .card-info-desc  {
        font-size: 0.8rem;
    }

    .card-info-stack > * {
        font-size: 0.7rem;
    }

    .github-url {
        font-size: 0.8rem;
    }

}