.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    aspect-ratio: 9/10;
    max-width: 100%;
    background-color: #fff;
    border: 2px solid var(--theme-color-2);
}

.card-img-container {
    aspect-ratio: 9/5;
    max-width: 100%;
}

.card-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-info {
    height: 50%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card-info-title {
    font-size: 1.1rem;
    color: var(--theme-color-1);
}

.card-info-desc {
    color: var(--theme-color-3);
    padding-left: 5px;
    flex: 1;
}

.card-info-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-info-stack > * {
    padding: 4px 6px;
    border-radius: 4px;
    background-color: var(--theme-color-6);
    color: var(--theme-color-3);
    font-size: 0.9rem;
}

.card:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}

@media (max-width: 1023px) {
    .card-wrapper { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .card-wrapper { 
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info-title {
        font-size: 0.9rem;
    }

    .card-info-desc  {
        font-size: 0.8rem;
    }

    .card-info-stack > * {
        font-size: 0.7rem;
    }
}