
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1000px) {
    .presentation {
        margin: 2em;
        font-size: 1.3em;
    }

    .card-wrapper { 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .presentation {
        margin: 1em;
        font-size: 1em;
    }

    .card-wrapper { 
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    aspect-ratio: auto 16/9;
    background-color: #CCCCCC;
    cursor: pointer;
}

.card:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}